* {
    padding: 0px;
    margin: 0px 1px 1px 1px;
    box-sizing: border-box;
    border-radius: 5px;
}
.nav{
    border-radius: 0;
    left: 0;
    top: 0px;
    position: fixed;
    color: white;
    background-color: #1b173d;
    height: 10vh;
    width: 100%;
}
.nav ul{
    justify-content: space-between;
    list-style: none;
    display: flex;
    padding: 20px;
}
.nav ul li a{
    font-size: large;
    color: white;
    text-decoration: none;
}
.nav ul li{
    background-color: #2b2b18;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(194, 192, 180);
    height:100px auto;
    width: 2px auto;
    background-image: url("/Screenshot/nisha\ in\ sari.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    touch-action: pan-y;
}
    .best{
        width: 700px;
        height:150px;
    }
.video{
    height: 240px;
    width: 260px;
    float: left;
    border: 2px solid;
    margin-right: 20px;
    box-shadow: 3px 4px 5px blue,-3px -4px 5px rgba(105, 204, 12, 0.445);
}
.video1{
    box-shadow: 3px 4px 5px blue,-3px -4px 5px rgba(230, 92, 28, 0.644);
    width: 260px;
    height: 250px ;
    float: right;
    border: 2px solid;
    margin-right: 0px;
}
.img1{
    width: 700px;
    height:150px;
}
#ktmpost{
    height: 511px;
}
#photo2{
    height: 50vh;
    width: 50vw;
}
.photo1{
    width: 50vw;
    height: 70vh;
}
.mo{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.head{
    background-color: rgb(129, 118, 150);
    display: inline;
    border: 2px solid;
    box-shadow: 3px 4px 5px blue,-3px -4px 5px rgba(105, 204, 12, 0.445);
}

.text{
    text-shadow: 3px 4px 5px rgb(78, 76, 177);
    margin-bottom: 30px;
}
.h3{
    border: 1px solid;
    display: inline;
    
}
.p1{
    text-overflow:ellipsis;
    overflow: auto;
    font-family: cursive;
}
#bor{
    
    margin-top: 10px;
    border: 1px solid;
    border-radius: 5px;
}
#rough1{
    background-color: darkgrey;
}
.photo{
    height: 60vh;
    width: 55vw;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid;
    box-shadow: 3px 4px 5px rgb(26, 26, 36),-3px -4px 5px rgba(230, 92, 28, 0.644);
}
.nishaimg{
    border: 2px solid;
    box-shadow: 3px 4px 5px rgb(26, 26, 36),-3px -4px 5px rgba(230, 92, 28, 0.644);
}
#audio{
    
    border: 2px solid;
    background:linear-gradient(45deg,#3a243f,#1e00ff);
    position: relative;
    top: 40px;
    width: clamp(25%,100%,100%);
    
}
#audio1{
    border: 2px solid;
    border-radius: 5px;
    background-image: url("https://img.freepik.com/premium-vector/simple-music-logo-design-concept-vector_9850-3776.jpg?w=740");
    display: block;
    padding: 20px;    
    background-position: center;
    background-size: cover;
}
.span{
    margin: 40px;
    font-size: large;
    font-family:fantasy;
    color: rgb(13, 13, 34);
}
#audiosection{
    color: rgb(100, 68, 57);
    position: relative;
    top: 40px;
    border: 3px solid rgb(3, 3, 255);
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
    background-color: cornsilk;
}
#button1{
    font-family: cursive;
    color: grey;
    background-color: lightpink;
    float: left;
    margin: 5px;
}
html {
    
    scroll-behavior: smooth;
}
.top{
    width: clamp(25%,100%,100%);
    margin-top: 20px;
    border: 2px solid;
    font-size: x-large;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#askingaudio{
    font-style: italic;
}
#Dont{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#last{
    font-weight: lighter;

}
#emoji{
    border: 2px solid pink;
    font-size: large;
}
.audiobor{
    display: inline-block;
    border: 5px solid darkred;
}
#bigp{
    margin-top: 10px;
    border: 1px solid;
    border-radius: 5px;
    overflow:auto;
    height: 150px;
}
#blank{
    border: 2px solid lightblue;
    box-shadow: 3px 4px 5px rgb(26, 26, 36)
}
.End{
    text-shadow: 3px 4px 5px rgb(84, 75, 109)
}
#Wanna:hover{
    color: red;
    font-size: 20px;
}
#button1:hover{
    font-size: 20px;
    color: rgb(182, 11, 11);
}
#audiosection:hover{
    color: blue;
    background-color: brown;
    border-color: aqua;
}
.button2:hover{
    display: none;
}



.Introduction{
    font-family:'Courier New', Courier, monospace;
    text-transform: capitalize;
}

header{
    border-radius: 0px;
}
footer{
    padding-top: 50px;
    text-align: center;
    height: 20px;
    background-color: black;
}
#Wanna{
    border-radius: 50%;
    padding-top: 40px;
    text-align: center;
    height: 100px;
    background: linear-gradient(45deg,#3d282b,#180896);
    color: white;
    text-decoration: wavy;
    font-size: large;
}
.space{
    height: 50px;
}
.background{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-direction: alternate;
    height: 105svh;
    width: 98.3svw;
    background-image: url("https://rare-gallery.com/thumbs/379737-4k-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: messi;
    animation-duration: 15s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation-iteration-count: infinite;
}
@keyframes messi {
    0%{

        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://rare-gallery.com/thumbs/379737-4k-wallpaper.jpg");
    }
    25%{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("https://c4.wallpaperflare.com/wallpaper/16/671/726/lionel-messi-football-barcelona-hd-wallpaper-preview.jpg");
    }
    50%{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("https://c4.wallpaperflare.com/wallpaper/449/353/223/lionel-messi-4k-wallpaper-preview.jpg");
    }
    75%{
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://c4.wallpaperflare.com/wallpaper/339/191/682/fc-barcelona-soccer-clubs-soccer-lionel-messi-wallpaper-preview.jpg");
    }
    100%{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("/Screenshot/messi.jpg");
    }
}
.para{

    padding: 10px;
    font-size: xx-large;
    border-radius: 10px;
    animation-name: color;
    border: 2px solid rgb(255, 255, 255);
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.borderback .animation{

    padding: 10px;
    font-size: larger;
    border-radius: 10px;
    animation-name: color;
    border: 2px solid rgb(255, 255, 255);
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes color {
    0%{
        opacity: 0.1;
        transform: rotate(0);
        background: linear-gradient(45deg,#040504,#173114);
    }
    10%{
        opacity: 0.2;
        background: linear-gradient(45deg,#040504,#2e1dc702);
    }
    20%{
        opacity: 0.3;
        background: linear-gradient(45deg,#040504,#2c2666);
    }
    30%{
        opacity: 0.4;
        background: linear-gradient(45deg,#040504,#1b173f);
    }
    40%{
        opacity: 0.5;
        background: linear-gradient(45deg,#040504,#1b173f);
    }
    50%{
        opacity: 0.6;
        background: linear-gradient(45deg,#040504,#1b173f);
    }
    60%{
        opacity: 0.7;
    }
    70%{
        opacity: 0.8;
        background: linear-gradient(45deg,#130b11,#412041);
    }
    80%{        
        opacity: 0.9;

    }
    90%{        
        opacity: 1;

    }
    100%{        
        opacity: 0.1;
        transform: rotate(360deg);
        background: linear-gradient(45deg,#0c2b0e,#180896);
    }

}
#scrool{
    padding: 10px;
    font-weight: 600;
    font-family: cursive;
    position: relative;
    right: 50vw;
    top: 40vh;
    color: #928c8c;
    border: 2px solid white;
    background-color: #1f1f1f;
    line-height: 50px;
}

.dot{
    margin: 0;
    padding: 0;
    animation-direction: alternate;
    animation-name: dot;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
}
.dot1{
    animation-direction: alternate;
    animation-name: dot;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
}
.dot2{
    animation-delay: 0.5s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-name: dot;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
}
@keyframes dot {
    from{
        transform: translateY(3px);
    }
    to{
        transform: translateY(10px);
    }
}
.nav ul li a{
    transition-timing-function: cubic-bezier(0.53, 3.29, 0.02, 0.17);
    transition-property: font-size,background-color,color,border,padding;
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
}

.nav ul li a:hover{
    padding:5px;
    font-size: large;
    background-color: white;
    border: 2px solid white;
    color: rgb(255, 0, 0);
}
@media screen and (max-width:600px){
    #scrool{
        width: 100px;
        font-size: small;
        line-height: 20px;
    }
    .nav ul{
        justify-content: start;
        display: flex;
    }
    .nav ul li{
        margin-right: 20px;
    }
    .borderback .animation{
        display: inline-block;
        font-size: small;
    }
    .para{
        font-size: small;
    }
    #photo2{
        height: 40vh;
        width: 50vw;
    }
        .img1{
        width: 100vw;
        height:125px;
        }
    .best{
        height: 11vh;
        width: 100vw;
    }
    .a1{

        color: #1e00ff;
    }
    .nav .nav1,.nav2,.nav3{
        margin: 15px;
        display: inline-block;
        justify-content: space-evenly;
        font-size: 14px;
    }
    .p1{
        font-size: 14px;
    }
    #ktmpost{
        height: 50vh;
        width: 70vw;
    }
    .head{
        font-size: 20px;
    }
    #rough1{
        font-size: 15px;
    }
    .video{
        height: 150px;
        width: auto;
        float: left;
        border: 2px solid;
        margin-right: 20px;
        box-shadow: 3px 4px 5px blue,-3px -4px 5px rgba(105, 204, 12, 0.445);
    }
    .video1{
        box-shadow: 3px 4px 5px blue,-3px -4px 5px rgba(230, 92, 28, 0.644);
        width: auto;
        height: 150px ;
        float: right;
        border: 2px solid;
        margin-right: 0px;
    }
    .photo{
        height: 40vh;
        width: 100vw;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px solid;
        box-shadow: 3px 4px 5px rgb(26, 26, 36),-3px -4px 5px rgba(230, 92, 28, 0.644);
    }
    .photo1{
        width: 100vw;
    }
    #photo2{
        width: 100vw;
    }
}
